/* Estilos para la ventana de inicio */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; 
}

/* Ocultar el contenido principal inicialmente */
.hidden {
    display: none;
}
/* Botones para cambiar de producto */
.buttons-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 50%; 
}

.round-button {
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    background-color: #ccc;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-button img {
    width: auto;
    height: 70%;
}
